.linkCard {
    text-decoration: none;
    display: contents;
    color: black;
}

.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 22%;
    height: 250px;
    background-color: whitesmoke;
}

.containerCard:hover {
    box-shadow: 0px 4px 6px rgba(76, 108, 237, 0.8);
}

.image {
    width: 100px;
    height: 80px;
}

h2 {
    font-size: 11px;
}